@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}body{
    background-color: #3e3b4a;  
}
.wrapper{
    max-width: 1020px;
    margin: 0 auto;
    margin-top: 62px;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
.header-flex{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu, .header-search{
    display: flex;
    align-items: center;
}
.icon{
    width: 22px;
    margin-right: 7px;
}
.header-logo{
    text-align: center;
}
.title-logo{
    font-size: 13px;
    color:#898691;
    margin: 0px;
    font-family: 'open_sansregular';
}
.logo{
    font-size: 48px;
    color: white;
    font-family: 'open_sansbold';
}
.header-menu,
.header-search a{
    color: #898691;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'open_sansbold';
}
.header-search a{
    padding-right: 27px;
    background: url(img/search-i.png) no-repeat 66px center;
    height: 25px;
    line-height: 25px;
}
.main-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-section{
    margin-bottom: 20px;
    padding: 37px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    position: relative;
    
}
.section-with-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
.first-section{
    flex-basis: 100%;
    background-image: url(img/foto-1.jpg);
    margin: 0 0 20px 0; 
    height: 515px;
  
}
.first-section-name{
    text-transform: uppercase;
    color: #ffc7b0;
    font-size: 14px;
    font-family: 'open_sansbold';
    letter-spacing: 2.8px;
    margin-bottom: 7px;
}
.first-section-title{
    max-width: 235px;
    font-size: 72px;
    color:#ffffff;
    margin: 0;
    font-family: 'open_sansbold';

}
.first-section-descr{
    max-width: 320px;
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 75px;
    font-family: 'open_sansregular';
}

.readmore{
    /*margin: auto;*/
    position: absolute;
    bottom: 37px;
    left: 37px;
    color: #ffffff;
    font-size: 20px;
    line-height: 36px;
    border: 3px solid #ffe18f;
    box-sizing: border-box;
    height: 42px;
    padding: 0px 6px; 
    font-family: 'open_sansbold';
}

.second-section{
    flex-basis: 61%;
    background-color: #7bc1cd;
    background-image: url(img/foto-2.png); 
    margin: 0 20px 20px 0;
    height: 485px;
    
}
.second-section-name{
    text-transform: uppercase;
    color: #ffc7b0;
    font-size: 14px;
    font-family: 'open_sansbold';
    letter-spacing: 2.8px;
    margin-bottom: 7px;
}
.second-section-title{
    max-width: 237px;
    font-size: 48px;
    color:#ffffff;
    margin: 0;
    font-family: 'open_sansbold';
    margin-bottom: 7px;
}
.second-section-descr{
    max-width: 195px;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 75px;
    font-family: 'open_sansregular';
}

.third-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 37%;
    background-image: url(img/foto-3.jpg);
    background-color: #eb7b61;
    color: #ffffff;
    text-align: center;
    margin: 0 0 20px 0;
    height: 485px;
}
.third-section-title{
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;

}
.third-section-descr{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
   margin-bottom: 40px;
    text-align: center;

}
input{
    width: 287px; 
    padding: 10px 0px;
    outline: none;
    color: #ffd9d1;
    font-size: 20px;
    font-family: 'open_sansbold';
}
input[type="email"]{
    background: none;
    padding: 8px 0px;
    border: 2px solid #ffd9d1;
    box-sizing: border-box;
    margin-bottom: 18px;  
    text-align: center;
}
input[type="submit"]{
    background: #66689c;
    border: none;  
    color: #ffffff;
    margin-bottom: 30px;
    
}
.third-section-subscribe-descr{
    font-size: 14px;
    font-family: 'open_sansregular';
    
}


.fourth-section{
    flex-basis: 25%;
    background-image: url(img/foto-4.jpg);
    
    height: 423px;
}
.fourth-section-name{
    text-transform: uppercase;
    color: #ffc7b0;
    font-size: 14px;
    text-align: center;
    font-family: 'open_sansbold';
    letter-spacing: 2.8px;
     
}
.fourth-section-title{
    font-size: 36px;
    color:#ffffff;
    margin: 0;
    margin-top: 130px;
    padding-left: 28px;
    font-family: 'open_sansbold';
    
}
.fourth-section-descr{
    max-width: 195px;
    color: #ffffff;
    font-size: 24px;
    font-family: 'open_sansregular';
}
.review{
  /*margin: auto;*/
    position: absolute;
    bottom: 37px;
    left: 85px;
    color: #3d3c4a;
    font-size: 20px;
    line-height: 36px;
    border: 3px solid #ffe18f;
    box-sizing: border-box;
    height: 42px;
    padding: 0px 6px;
    background-color: #ffe18f;
    font-family: 'open_sansbold';
}
.firth-section{
    flex-basis: 25%;
    background-image: url(img/foto-5.jpg);
    height: 423px;  
}
.firth-section-name{
    text-transform: uppercase;
    color: #ffc7b0;
    font-size: 14px;
    text-align: center;
    font-family: 'open_sansbold';
    letter-spacing: 2.8px;
}
.firth-section-title{
    font-size: 36px;
    color:#ffffff;
    margin: 0;
    margin-top: 90px;
    padding-left: 28px;
    text-align: center;
    font-family: 'open_sansbold';
}
.firth-section-descr{
    max-width: 195px;
    color: #ffffff;
    font-size: 24px;
    font-family: 'open_sansregular';
}
.sixth-section{
    flex-basis: 45%;
    background-color: #1ab467;
    background-image: url(img/foto-6.png);
    height: 423px;  
   
    
}
.sixth-section-name{
    text-transform: uppercase;
    color: #ffc7b0;
    font-size: 14px;
    font-family: 'open_sansbold';
    letter-spacing: 2.8px;
    margin-bottom: 7px;
}
.sixth-section-title{
    max-width: 207px;
    font-size: 36px;
    color:#ffffff;
    font-weight: bold;
    margin: 0;
    font-family: 'open_sansbold';
    margin-bottom: 10px;
}
.sixth-section-descr{
    max-width: 204px;
    color: #ffffff;
    font-size: 20px; 
    font-family: 'open_sansregular';
}
.copyright{
    color: #898691;
    font-size: 14px;
    font-family: 'open_sansregular';
}
#footer .footer-flex{
    margin-top: -35px;
    margin-bottom: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.twitter{
    margin-left: 24px;
}

@media (max-width: 768px){
    .wrapper{
        margin-top: 20px;
    }
    .header-flex {
        padding: 0 10px;
    }
    .second-section {
        flex-basis: 50%;
        margin-right: 0;
    }

    .third-section{
        flex-basis: 47%;
    }
    .fourth-section, .firth-section{
        flex-basis: 30%;
        padding: 20px;
        
        }
    .sixth-section{
        flex-basis: 35%;
        padding: 20px;
    }
    #footer .footer-flex{
        padding: 0 10px;
       
        margin-bottom: 25px;   }
}

@media (max-width: 320px){
    .wrapper{
        margin-top: 20px;
    }
    .first-section{
        height: 420px;
        padding: 25px;
    }
    .first-section-title{
        font-size: 60px;
    }
    
    .first-section-descr{
        font-size: 28px;
       
    }
    
    .second-section {
        height: 400px;
        flex-basis: 100%;
        margin-right: 0;
        padding: 25px;
    }
    .second-section-descr {
        margin-bottom: 55px;
    }

    .third-section{
        flex-basis: 100%;
        margin-right: 0;
        height: 400px;
    }
    .third-section-title{
        font-size: 34px;
        margin-bottom: 20px;
    }
    .third-section-descr{
        font-size: 26px;
    }

    input{
        width: 60%; 
        font-size: 22px;
        
    }
    .fourth-section{
        flex-basis: 100%;
        margin-right: 0;
        height: 350px;
        padding: 25px;
        
    }
    .fourth-section-title{
        margin-top: 90px;
        text-align: center;

    }
    
    .firth-section{
        flex-basis: 100%;
        margin-right: 0;
        height: 350px;
        font-size: 44px;
        padding: 25px;
        
        }
    .sixth-section{
        flex-basis: 100%;
        margin-right: 0;
        height: 350px;
        padding: 25px;
    }
    .review{
        margin-top: 10px;
}
}